<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.thumbnail }}
  {{ if $image }}
  <a href="{{if .Params.url }}{{ .Params.url }}{{else}}{{ .RelPermalink }}{{end}}">
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded-t-xl") }}
  </a>
  {{ end }}
  <div class="bg-darkmode-body dark:bg-body text-white dark:text-dark p-6 {{ if $image }}rounded-b-xl{{else}}rounded-xl{{end}} flex flex-col">
    <h4 class="mb-3 text-white dark:text-dark">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    <p class="mb-6 text-justify">{{ .Summary }}</p>
    <a class="flex btn btn-primary btn-sm ml-auto" href="{{if .Params.url }}{{ .Params.url }}{{else}}{{ .RelPermalink }}{{end}}">
      {{ i18n "read_more" }}
    </a>
  </div>
</div>
