<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a class="navbar-brand inline-block" href="{{ site.BaseURL | relLangURL }}">
          {{ partial "logo" }}
        </a>

      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul class="social-icons mb-3">
          {{ range site.Data.social.main }}
          <li>
            <a target="_blank" aria-label="{{ .name }}" rel="nofollow noopener" href="{{ .link | safeURL }}">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>
        <ul>
          {{ range site.Menus.footer }}
          <li class="m-3 inline-block">
            <a {{ if findRE `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.BaseURL | relLangURL }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 lg:mb-0 lg:mt-0 flex flex-col gap-3">
        
        <div class="text-left">
          <p>AMAC<br>Station 9<br>CH-1015 Lausanne</p>
          
        </div>
        <div class="text-left">
          <p><span class="font-bold">Local :</span> <a href="https://plan.epfl.ch/?room==ME%20A1%20400" target="_blank">ME A1 400</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>