// Add your own custom styles here
.banner {
    min-height: 50vh;
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;

    h1,
    p {
        text-shadow: 0 0 8px #000;
    }
}