{{ define "main" }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-center content">
      <div class="lg:col-7">
        {{ if .Params.image }}
        {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" "200x200") }}
        {{ end }}
        <h2 class="mb-0">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <span class="text-2xl text-gray-600 italic">{{ .Params.subtitle }}</span>
        {{ end }}
        <div class="content">{{ .Content }}</div>
      </div>
      <div class="lg:col-5 lg:px-10">
        <div class="flex flex-col gap-5 dark:text-dark">
          {{ $data := index .Site.Data "documents"}}
          <div class="col-12 shadow rounded-xl p-8 text-center dark:bg-white">
            <h5 class="mb-3 font-bold dark:text-dark">Statuts de l'Association</h5>
            <p>En tant qu'association étudiante, nos statuts sont tenus d'être publics et à jour.</p>
            <a class="btn btn-primary mt-3 dark:bg-primary dark:text-white dark:hover:bg-light dark:hover:text-dark" href="{{ $data.statuts}}">Nos statuts</a>
          </div>
          <div class="col-12 shadow rounded-xl p-8 dark:bg-white">
            <h5 class="font-bold mb-2 dark:text-dark">Documents officiels</h5>
            <p>Voici les derniers documents officiels en date de l'Association</p>
            <h6 class="mt-3 mb-2 italic font-bold dark:text-dark">PV d'Assemblée Générale</h6>
            <div class="flex flex-col gap-3">
              {{ range $data.ag }}
              <a href="{{ .url }}" class="dark:hover:text-primary">{{ .name }}</a>
              {{ end }}
            </div>
            <h6 class="mt-5 mb-2 italic font-bold dark:text-dark">Rapports d'activités</h6>
            <div class="flex flex-col gap-3">
              {{ range $data.rapports }}
              <a href="{{ .url }}" class="dark:hover:text-primary">{{ .name }}</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}