{{ define "main" }}
{{ with site.GetPage "homepage" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section p-0 m-0">
  <div class="row justify-center banner flex flex-col m-0 p-0" {{ partial `bg-image.html` (dict `Src` .image ) |
    safeHTMLAttr}}>
    <div class="grow flex flex-col items-center text-center justify-center m-0 p-0 px-10">
      <div class="">
        <h1 class="font-extrabold text-white mb-3 text-6xl">
          {{ .title | markdownify }}
        </h1>
        <p class="font-normal text-white m-0 text-2xl">
          {{ .content | markdownify }}
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Features -->
{{ range $i, $e:= .Params.features }}
<section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="row items-center justify-between">
      <div class="mb:md-0 {{ if not (modBool $i 2) }}
                md:order-2
              {{ end }} md:col-5 mb-6">
        {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
      </div>
      <div class="{{ if not (modBool $i 2) }}
                md:order-1
              {{ end }} md:col-7 lg:col-6">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>
        <ul>
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->

{{ $paginator := $.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) 10 }}

<!-- Posts -->
{{ with site.GetPage "sections/actualites" }}
{{ if .Params.enable }}
<section class="section bg-gradient">
  <div class="container px-6">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4 font-tertiary font-extrabold">
          {{ .Title | markdownify }}
        </h2>
        <p>
          {{ .Params.description | markdownify }}
        </p>
      </div>
      <div class="col-12">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {{ range $paginator.Pages }}
            <div class="swiper-slide">
              {{ partial "components/blog-card" . }}
            </div>
            {{ end }}
          </div>
          <div class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Posts -->


{{ end }}
{{ end }}