{{ define "main" }}
<section class="section-sm">

  <div class="container">
    <div class="row col-12 my-5 mx-auto px-5" id="main">
      <div class="col-12 lg:col-6">
        <!-- Carousel -->
        <div id="carousel">
        {{ partial "slider.html" (dict "Dir" .Params.carousel) }}
      </div>
        <style>
          .swiper-button-prev, .swiper-button-next {
            color: #000 !important;
            opacity: 1 !important;
          }
        </style>
        <!-- End Carousel -->
      </div>
      {{ $config := index $.Site.Data "pulls" | default (dict) }}
      <div class="col-12 lg:col-6 h-full">
        <h1 class="head-title mb-0 bg-body dark:bg-darkmode-body"><span class="head-border "></span><span class="head-text bg-body dark:bg-darkmode-body">{{.Params.name}}</span></h1>
        <p class="text-center mt-0 mb-2" style="font-size: 1.5em;">{{.Params.price}}</p>
        {{ if .Params.description }}
        <p class="text-center mb-5">{{.Params.description}}</p>
        {{ end }}
        <div class="col-12 text-center p-0">
          {{ range $key, $option := $config.options }}
          <h3 class="mb-1">{{$option.name}}</h3>
          {{ if eq $option.type "buttons" }}
          <div class="flex flex-wrap justify-center mb-4 option-{{$option.code}}">
          {{ range $key2, $value := $option.values }}
          <div class="form-check form-check-inline">
            <label class="form-check-label selected" for="{{$option.code}}_{{$key2}}" data-color="{{$value.text_color}}"
              data-bg="{{$value.bg_color}}" {{if eq $value.code $option.default}}style="color: {{$value.text_color}}; background-color: {{$value.bg_color}}" {{end}}>
              <input class="form-check-input" type="radio" name="{{$option.code}}" id="{{$option.code}}_{{$key2}}" value="{{$value.code}}"
                {{if eq $value.code $option.default }}checked{{end}}>
              {{$value.name}}
            </label>
          </div>
          {{ end }}
          </div>
          {{ else if eq $option.type "select" }}
          <select class="form-control mx-auto mb-4 dark:text-dark option-{{$option.code}}" id="{{$option.code}}" name="{{$option.code}}">
            {{ range $key2, $value := $option.values }}
            <option value="{{$value.code}}" {{if eq $value.code $option.default }}selected{{end}}>{{$value.name}}</option>

            {{end}}
          </select>
          {{ else if eq $option.type "images" }}
          <div class="flex gap-3 justify-center mb-4 option-{{ $option.code }}">
            {{ range $key2, $value := $option.values }}
            
            <div class="flex border p-3 items-center">
              <input class="form-check-input image" type="radio" name="{{$option.code}}" id="{{$option.code}}_{{$key2}}" value="{{$value.code}}"
                {{if eq $value.code $option.default }}checked{{end}}>
                <label class="form-check-label image {{if eq $value.code $option.default }}selected{{end}}" for="{{$option.code}}_{{$key2}}">
              {{ partial "image.html" (dict "Src" $value.url "Alt" $value.name "Size" "200x") }}
            </label>
            </div>

            {{ end }}
          </div>
          {{ end}}
          {{end}}
        </div>

        <div class="col-12 text-center my-5">
          <a id="buy-btn" class="btn btn-primary" href="" target="_blank">Acheter</a>
        </div>
        <div>
          {{ .Content }}
        </div>
        {{ if .Params.guide_tailles }}
        <div  class="mt-6">
        <h3>Guide des tailles</h3>
        {{ partial "image.html" (dict "Src" .Params.guide_tailles ) }}
      </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> 
<style>
  #carousel {
    border: 4px solid black;
  }

  .img-featured {
    position: relative;
    width: 100%;
  }

  h1.head-title {
    text-align: center;
    position: relative;
    margin-bottom: -.1em;
    z-index: 3;
  }

  h1.head-title .head-border {
    border-bottom: 3px solid #999;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }

  h1.head-title .head-text {
    position: relative;
    z-index: 2;
    padding: 10px;
    display: inline-block;
  }

  input.form-check-input {
    display: none;
  }

  label.form-check-label:not(.image) {
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 9px 11px;
    margin: 3px 4px 7px 3px;
    font-size: 0.76471em;
    font-style: normal;
    background-color: #fff;
    border: 1px solid #000;
    color: #000
  }

  div:has(> label.form-check-label.image) {
    border: 4px solid transparent;
    background-color: white;
  }

  div:has(> label.form-check-label.image.selected) {
    border: 4px solid #d52349;
  }


  label.form-check-label:hover {
    cursor: pointer;
    opacity: .8;
  }

</style>
<script>
  {{ $config := index $.Site.Data "pulls" | default (dict) }}

  const ARTICLES = [
  {{ range $key, $article := $config.articles }}
    {{$article}},
  {{ end }}
  ];

  var SELECTED = {
    {{ range $key, $option := $config.options }}
    "{{$option.code}}": "{{$option.default}}",
    {{ end }}
  }
</script>
<script type="text/javascript">
  {{ $config := index $.Site.Data "pulls" | default (dict) }}
  {{ range $key, $option := $config.options }}

    {{ if eq $option.type "buttons" }}

    $('.option-{{$option.code}} .form-check-label').on('click', function (event) {
      $('input[name={{$option.code}}]').each(function () {
        $(this).attr("checked", false);
        $(this).parent().css('background-color', "#fff");
        $(this).parent().css('color', "#000");
      })
      var label = $(this);
      label.find('input').attr('checked', true)

      SELECTED["{{$option.code}}"] = label.find('input').val();

      updateArticleUrl()
      
      var bg_color = label.data('bg');
      var text_color = label.data('color');
      label.css('background-color', bg_color);
      label.css('color', text_color);

    })

    {{ else if eq $option.type "images" }}

    $('.option-{{$option.code}} .form-check-label').on('click', function (event) {
      $('input[name={{$option.code}}]').each(function () {
        $(this).attr("checked", false);
        $(this).parent().css('border', "4px solid transparent ");
      })
      var label = $(this);

      label.parent().find('input').attr('checked', true)
      label.parent().css('border', "4px solid #d52349")

      SELECTED["{{$option.code}}"] = label.parent().find('input').val();

      updateArticleUrl()
      
    })

    {{ else if eq $option.type "select" }}

    $('#{{$option.code}}').on('change', function (event) {
      SELECTED["{{$option.code}}"] = $(this).val();
      updateArticleUrl()
    })

    {{ end }}

  {{ end }}

  function updateArticleUrl() {
    const options_codes = [{{ range $key, $option := $config.options }}"{{$option.code}}",{{ end }}];

    console.log(SELECTED)

    var article = ARTICLES.find(function (element) {
      var match = true;
      options_codes.forEach(function (option_code) {
        if (element[option_code] != SELECTED[option_code]) {
          match = false;
        }
      });
      return match;
    });
    if (article) {
      $('#buy-btn').attr('href', article.url).removeClass('disabled').removeAttr('disabled');
    } else {
      $('#buy-btn').attr('href', '').attr('disabled', 'disabled').addClass('disabled');
    }
  }

  updateArticleUrl()
</script>
{{ end }}